doctype html
html
	head
		title LG Game
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src="/socket.io/socket.io.js")
		script(src="script.js")
		script(src="phaser.min.js")
		script(src="Boot.js")
		script(src="Preloader.js")
		script(src="MainMenu.js")
		script(src="Game.js")
	body
		div.gameContainer
			script.
				window.onload = function() {
				//	Create your Phaser game and inject it into the gameContainer div.
				//	We did it in a window.onload event, but you can do it anywhere (requireJS load, anonymous function, jQuery dom ready, - whatever floats your boat)
				var game = new Phaser.Game(800, 650, Phaser.AUTO, 'gameContainer');

				//	Add the States your game has.
				//	You don't have to do this in the html, it could be done in your Boot state too, but for simplicity I'll keep it here.
				game.state.add('Boot', BasicGame.Boot);
				game.state.add('Preloader', BasicGame.Preloader);
				game.state.add('MainMenu', BasicGame.MainMenu);
				game.state.add('Game', BasicGame.Game);

				//	Now start the Boot state.
				game.state.start('Boot');
				};

		div.container
			header
				h1 Chat Messaging
			input(type='text')#pseudoInput
			button#pseudoSet Set Pseudo
			div#chatEntries
			div#chatControls 
				input(type='text')#messageInput
				button#submit Send
			div#otheruser